@import "tailwindcss";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --color-primary: #0b4e89;
  --color-background-light: #ffffff;
  --color-text-main: #111827;
  --color-text-light: #4b5563;

  --font-display: "Manrope", sans-serif;

  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  font-family: var(--font-display);
  background-color: #ffffff;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}